.DS_Store
*.aux
*.log
*.pyc
__pychache__

#We don't need to keep 100M of /dev/urandom
html/test/why.wmv

#These should be regenerated every time
*mbox.orig
*_list.pdf
docs/*/*_list.*
docs/Source/Source.pdf
docs/Source/Source.tex
docs/Appendix-D_Email.pdf
docs/Commit_Logs.pdf
docs/Commit_Logs/Commit_Logs.tex
docs/Email/Email.tex
docs/Email/Email.pdf
docs/Email.pdf
docs/Minutes.pdf
docs/Minutes/Minutes.tex
docs/Slides.pdf
docs/Slides/Slides.tex
docs/Source.pdf
docs/Status_Reports.pdf
docs/Status_Reports/Status_Reports.tex

